/* ----------------------- */
/* base
/* ----------------------- */

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}
img,svg{
  width: 100%;
  vertical-align: bottom;
}

/* ボタン */
a{
  text-decoration: none;
  display: inline-block;
}
a:hover{
  opacity: .8;
  transition: .3s;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.section-wrapper{
  padding: 60px 0;
}
.flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* kv部分 */
.content-wrapper{
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}
.section-title{
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.link-btn{
  color: #fff;
  background-color: #1d2731;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* Introduction以降 */
.gray-bg{
  background-color: #ececec;
}
.lines{
  line-height: 2;
}

/* ----------------------- */
/* header
/* ----------------------- */
.site-title{
  width: 550px;
  position: fixed;
  top: 10px;
  left: 3vw;
  z-index: 1;
}

.header-nav{
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 23.7vw;
  text-align: center;
  padding: 120px 0 0;
  background-color:rgba(34,34,34,.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s,opacity .3s;
}
.nav-item{
  margin-bottom: 30px;
}
.nav-item:last-of-type{
  margin-bottom: 0;
}
.header-nav a{
  color: #fff;
}

/* ハンバーガーボタン（メニューが閉じているとき）*/
.burger-btn{
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}
.bar{
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}
.bar_top{
  transform: translateY(-5px);
  transition: transform .3s;
}
.bar_bottom{
  transform: translateY(5px);
  transition: transform .3s;
}

.menu{
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}

/* ハンバーガーボタン（メニューが開いたとき→回転してバツに） */
.bar.cross.bar_top{
  transform: translateY(2px)rotate(45deg);
  transition: transform .3s;
}
.bar.cross.bar_mid{
  opacity: 0;
  transition: opacity .3s;
}
.bar.cross.bar_bottom{
  transform: translateY(-2px)rotate(-45deg);
  transition: transform .3s;
}

/* ハンバーガーメニューが開いたとき */
body.noscroll{
  overflow: hidden;
}
.header-nav.open{
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

/* menu時にうっすら暗くする */
.burger-musk{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  /* background-color:rgba(11,60,93,.5); */
  z-index: 1;
}

.burger-btn.black .bar{
  background-color: #333;
  transition: background-color .3s;
}
.burger-btn.black .menu{
  color: #333;
  transition: color .3s;
}

/* ----------------------- */
/* key visual トップの写真横
/* ----------------------- */
.fv{
  height: 100vh;
}
.fv::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0b3c5d;
  width: 40%;
  height: 100%;
  z-index: -1;
}
.kv-wrapper{
  height: 86.5%;
  width: 76.4%;
  background-image: url(/images/kv-img.jpg);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

/* ----------------------- */
/* メインコピー
/* ----------------------- */
.copy-wrapper{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(67%,-50%);
  color: #d9b310
}
.main-copy1{
  font-size: 3rem;
  margin-bottom: 4px;
}
.copy_company{
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.main-copy2{
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}


/* ----------------------- */
/* Introduction
/* ----------------------- */
.section-wrapper:first-of-type{
  padding-top: 120px;
  position: relative;
}
.section-wrapper:first-of-type::after{
  content: "";
  width: 100vw;
  height: 160px;
  display: block;
  background-color: #0b3c5d;
  position: absolute;
  bottom: 0;
  z-index: -1;

}
.about-bg{
  background-image: url(../images/about-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
}

/* ----------------------- */
/* Introduction文字背景
/* ----------------------- */
.about-content{
  max-width: 590px;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color:rgba(255,255,255,.75);
}

/* ----------------------- */
/* Introduce（Works,Skills,Photos）
/* ----------------------- */
.l-section-wrapper{
  padding: 100px 0;
}
.l-content-wrapper{
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}
.s-section-wrapper{
  width: 30%;
}
.section-img-wrapper{
  margin-bottom: 30px;
}
.img_wrap{
  transition-duration: 1s;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
}
.img_wrap:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}



Resources

/* ----------------------- */
/* section_topics
/* ----------------------- */
.topics-list{
  max-width: 700px;
}
.topics-item{
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.topics-date{
  color: #cecece;
  font-size: 1rem;
  font-weight: bold;
}
.topics-title{
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
}
.ml-auto{
  margin-left: auto;
}

/* ----------------------- */
/* section_contact
/* ----------------------- */
.section-wrapper:last-of-type{
  padding-bottom: 120px;
}
.contact-content{
  width: 60%;
}
.contact-img-wrapper{
  width: 30%;
}

/* ----------------------- */
/* footer
/* ----------------------- */
.footer{
  line-height: 50px;
  background-color: #0b3c5d;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}


/* レスポンシブ対応 */

@media screen and (max-width: 768px){
/* ----------------------- */
/* base_sp
/* ----------------------- */
body{
  font-size: 1.4rem;
}
.section-wrapper{
  padding: 40px 0;
}

/* ----------------------- */
/* header_sp
/* ----------------------- */
.site-title{
  width: 180px;
  top: 21px;
}
.burger-btn{
  top: 28px;
}
.header-nav{
  width: 67.7vw;
}

/* ----------------------- */
/* fv_sp
/* ----------------------- */
.copy-wrapper{
  right: -15%;
  transform: translate(0,-50%);
}
.copy_jp{
  font-size: 1.6rem;
}
.copy_company{
  font-size: 1.6rem;
}
.main-copy1{
  font-size: 1.8rem;
}
.main-copy2{
  font-size: 5.4rem;
}

/* ----------------------- */
/* section_about_sp
/* ----------------------- */
.section-wrapper:first-of-type{
  padding: 80px 0 4vw;
}
.content-wrapper.about-bg{
  padding: 50px 4vw;
}
.about-content{
  margin: 0 auto;
}

/* ----------------------- */
/* Introduce_sp
/* ----------------------- */
.l-section-wrapper{
  padding: 40px 0;
}
.l-content-wrapper{
  flex-direction: column;
  align-items: flex-start;
  padding: 0 4vw;
}
.s-section-wrapper{
  padding: 20px 0;
  width: 520px;
  max-width: 100%;
}
.s-section-wrapper:first-of-type{
  margin-bottom: 5px;
}

/* ----------------------- */
/* section_topics_sp
/* ----------------------- */
.topics-title{
  font-size: 1.2rem;
}
.topics-item{
  margin-bottom: 20px;
}
.ml-auto{
  margin-left: 0;
}

/* ----------------------- */
/* section_contact_sp
/* ----------------------- */
.content-wrapper{
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 0 4vw;
}
.contact-content{
  width: 440px;
  max-width: 100%;
  margin-top: 30px;
}
.contact-img-wrapper{
  width: 520px;
  max-width: 100%;
}
.section-wrapper:last-of-type{
  padding-bottom: 80px;
}